.header__container {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 10rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
