@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.bg-dark {
  background-color: hsl(232, 19%, 15%);
}
