.card-md {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 17rem;
  width: 17rem;
  border-radius: 8px;
  border-top: 5px solid;
  overflow: hidden;
  margin-top: -5rem;
  padding: 1rem;
  margin-right: 2rem;
  justify-self: center;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.card-md:hover {
  filter: contrast(90%);
}
.adress {
  display: flex;
  align-items: center;
  justify-content: center;
}
.adress > img {
  margin-right: 0.5rem;
}
.adress > img + span {
  font-weight: 700;
}
.adress + p {
  margin: 2rem 0;
}
.adress + p > strong {
  font-size: 4rem;
}
.adress + p + p {
  margin-top: 0;
  letter-spacing: 5px;
}
.adress + p + p + span {
  margin-bottom: 2rem;
}
