.card-container-md,
.card-container-sm {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-content: center;
  row-gap: 10rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 0 auto;
  max-width: 1440px;
  column-gap: 2rem;
}

.card-container-sm {
  row-gap: 2rem;
}

.brand {
  max-width: 1440px;
  margin: 3rem auto;
  padding: 0 2rem;
  padding-left: 2rem;
}
